.container-white-list{
    position: relative;
    z-index: 16;
}
.box-white-list, .box-white-list h3 {
    font-family: OdibeeSans ;
    color: rgb(241, 245, 30);
    text-align: center;
}
.box-white-list p{
    color: #ffffff;
    font-size: 1.5rem;
}
.white-list-img{
    height: 35%;
    width: 35%;  
}

.box-white-card{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

@media(max-width:900px){
    .white-list-img{
        height: 50% ;
        width: 50% ;       
       
    }
}
@media(max-width:600px){
    .white-list-img{
        height: 75% ;
        width: 75% ;       
       
    }
}