
@font-face {
  font-family: 'OdibeeSans';
  src: local('OdibeeSans'), url(../assets/OdibeeSans-Regular.ttf) format('truetype');
}
.container{
  display: grid;
  grid-template: 152px 40px auto 100px /repeat(12,1fr);
  grid-template-areas: 
  ". . h h h h h h h h . ."
  ". . n n n n n n n n . ."
  ". . c c c c c c c c . ."  
  ". . f f f f f f f f . .";
 
}

.header{
  grid-area: h;
  
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  background-color: #161616;
  
}
.filters{
  filter: invert(100%) sepia(2%) saturate(258%) hue-rotate(353deg) brightness(113%) contrast(83%);
}

.adsHeader{
  align-self: center;
}
.adsHeader div{
  display: flex;
  flex-direction: row;
  align-self:center;
  justify-self: center;
}
.navBar{
  grid-area: n;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'OdibeeSans';
  background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
color: white;
font-size: 1.5em;

}

.content {
  grid-area: c;
  border: 1px solid black;
}

.footer{
  grid-column:f;
  border: 1px solid black;
}


.text-floating-h1{
position: relative;
z-index: 16;
color: #1994c0;
text-align: center;
font-family: OdibeeSans;
font-size: 2.8em !important
}
.text-floating-h2{
  position: relative;
  z-index: 17;
  color: #1834a5;
  font-family: OdibeeSans;
  font-size: 2.2em !important;
  text-align: center;
  }
  
